<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>


	<script type="text/javascript" src="./js/home.js"></script>
  

  <!-- <link rel="stylesheet" href="/styles/style.css"> -->
</head>
<body>
	<div id='map-canvas' class='map-canvas' role="application" data-options='{"properties":{"dropMarker":"true","geolocate":true,"isReport":true,"mapTypeControl":true,"flexy":true}}'></div>		
</body>
</html>
