<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tesla Charge and Wash</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
  #login {
    display: none;
    color: white;
    margin: 10% auto;
    left: 0;
    right: 0;
    width: 460px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    position: fixed;
    z-index: 3;
    border-radius: 10px;
  }
  #regLink {
    font-size: 14px;
    color: #18bd9b;
  }
  #regLink:hover {
    cursor: pointer;
    color: orange;
  }
  #log {
    width: 150px;
  }
  #reg {
    display: none;
  }
  #login.p, h1, h2, label, .logLabel {
    margin: 0px auto;
    color: white;
  }
  #login {
    padding: 15px;
    border: 2px solid white;
    padding-bottom: 15px;
  }
  #login input.inputs {
    width: 300px;
    margin: 0px auto;
    height: 20px;
    font-size: 12px;
    text-align: center;
    border: 2px solid #18bd9b;
    border-radius: 6px;
  }
  #login .btn {
    width: 100px;
    color: white;
  }
  #login a:hover {
    color: orange;
  }
  #login input.btn {
    margin-top: 10px;
  }
  #login form {
    margin: 0px;
  }
  #reg p, .logLabel {
    margin-bottom: 2px;
  }
  #login select {
    padding-left: 65px;
  }
  #login p, .logLabel {
    margin-bottom: 0px;
    font-weight: 200;
  }
  #closer {
    font-size: 10px;
  }
  input.btn {
    background-color: #18bd9b;
  }
  input {
    color: black;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).on("click", "#signIn", function(){
      $("#login").slideToggle(1000);
  	})
  	$(document).on("click", "#regLink", function(){
      $("#regLink").toggle();
  		$("#logForm").slideToggle();
  		$("#reg").slideToggle();
      $("#title").html("<h2>Registration</h2>")
  	})
    $(document).on("click", "#addClick", function(){
      $("#regLink").toggle();
  		$("#logForm").slideToggle();
  		$("#reg").slideToggle();
      $("#title").html("<h2>LOG IN</h2>")
  	})
    $(document).on("click", "#logInLink", function(){
      $("#login").slideToggle(1000);
    })
  })
</script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Login/Registration -->
    <div id="login">
  		<h2 id="title">Login</h2>

      <script>
        $(document).on("click", "#closer", function(){
          $("#login").fadeOut(800);
        })
      </script>

  		<p id="regLink">Click here to Register</p>
  		<form action='/home' method='post' id="logForm">
  			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

  			<p class="logLabel"><label for='email'>Email</label>
  			<br><input id="email" name="email" type="text" class="inputs"></p>

  			<p class="logLabel"><label for='password'>Password</label>
  			<br><input type="password" id="password" name="password" type="text" class="inputs"></p>
  			<!-- <p id="logBtn"><input type="submit" value="Log In" class="btn"></p> -->
        <a href="home.html" style="padding: 12px; background-color: #18bd9b; color: white;     position: relative;
    top: 20px; margin-bottom: 10px;">LOG IN</a>
        <p id='closer'>Close this window</p>
  		</form>
  				<div id="reg">
  					<form action='/users' method='post'>
  						<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

  						<p class="logLabel"><label for='email'>Email</label>
  						<br><input id="email" name="user[email]" type="email" class="inputs"></p>

  						<br><p class="logLabel"><label for='name'>Full Name</label>
  						<br><input id="name" name="user[name]" type="text" class="inputs"></p>

              <p class="logLabel"><label for='name'>Phone Number</label>
  						<br><input id="name" name="user[phoneNumber]" type="text" class="inputs"></p>

              <p class="logLabel"><label for='name'>Address</label>
  						<br><input id="addClick" name="user[region]" type="text" class="inputs"></p>

  						<p class="logLabel"><label for='password'>Password</label>
  						<br><input id="password" name="user[password]" type="password" class="inputs"></p>

  						<p class="logLabel"><label for='password'>Confirm Password</label>
  						<br><input id="password" name="user[password_confirmation]" type="password" class="inputs"></p>

  						<!-- <p class="logLabel"><input type="submit" value="Register" class="btn"></p> -->
              <a href="home.html" style="padding: 12px; background-color: #18bd9b; color: white;     position: relative;
          top: 20px; margin-bottom: 10px;">REGISTER</a>
              <p id='closer'>Close this window</p>
  					</form>
  				</div>
  </div>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">GET</span> RECHARGED
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a id="signIn" style="cursor: pointer;">Sign In | Sign Up</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">RECHARGED</h1>
                        <p class="intro-text">On-Demand Tesla charging and detailing service. Request your personal valet today!<br>Created by VetsInTech</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>About RECHARGED</h2>
              <br>
              <p>We are a veteran owned company of Tesla enthusiasts that knows how hard it can be to keep your Tesla charged and clean. We created RECHARGED for Tesla professionals who know how much their time is worth and appreciate 5-star service.</p>

              <p>Our team members are fellow veterans that understand what it means to serve and we donate a portion of our profit to organizations focused on Service and Sustainability.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download RECHARGED App Today</h2>
                    <p>You can download the NEW RECHARGED App for free on GooglePlay and the AppStore!</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact RECHARGED</h2>
                <p>Feel free to email us to provide some feedback on our services, give us suggestions, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
